@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --color-black: #000000;
    --color-light-black: #110F10;
    --color-white: #ffffff;
    --color-grey: #F1F1F1;
    --color-orange: #FF5F00;
    --color-blue: #1F299C;

    --font-style-header: normal 600 80px/114% 'Montserrat', sans-serif;
    --font-style-header2: normal 600 48px/114% 'Montserrat', sans-serif; 
    --font-style-header3: normal 600 32px/114% 'Montserrat', sans-serif; 
    --font-style-body-text: normal 400 16px/120% 'Montserrat', sans-serif;
    
}




/* layout */
* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--color-grey);
    margin: 0 auto;  
}
main {
    max-width: 1600px;
    padding-left: 80px;
    padding-right: 80px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.textcontainer {
    max-width: 1600px;
    padding-left: 80px;
    padding-right: 80px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}



/* Text */



h1 { font: var(--font-style-header); color: var(--color-white); }

h2 { font: var(--font-style-header2); color: var(--color-white); }

h3 { font: var(--font-style-header3); color: var(--color-black);}

p { font: var(--font-style-body-text); color: var(--color-white);}




.footerdescription { 
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
}







/* bUTTONS */
button {
    all: unset;
    display: inline-block;
    cursor: pointer;
}
.button1 {
    display: flex;
    padding: 14px 35px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 20px;
    border: 1px solid #FF5F00;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.button2 {
    display: flex;
    padding: 14px 35px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 20px;
    border: 1px solid #FF5F00;
    color: var(--color-black);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}



.footer-button {
    display: flex;
    padding: 14px 35px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background: var(--color-orange);
    border-radius: 20px;

    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}




/* Cards*/

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Zajišťuje rovnoměrné rozložení obsahu s mezerami */
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 0;
    gap: 205px; /* Mezery mezi horní a dolní částí karty */
    padding: 14px 19px;
    max-width: 304px; /* Maximální šířka karty */
    min-width: 200px; /* Minimální šířka karty pro menší obrazovky */
    height: auto; /* Výška se přizpůsobí obsahu */
    border-radius: 12px;
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap; /* Karty se budou přesouvat na nový řádek při nedostatku místa */
    gap: 20px; /* Mezery mezi kartami */
    justify-content: center; /* Karty budou centrované */
}

.topcard {
    display: flex;
    width: 100%; /* Zajistí, že horní část karty využije celou šířku */
    justify-content: space-between;
    align-items: center;
}

.bottomcard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px 26px;
}

.difficulty {
    width: 49px;
    height: 49px;
    padding: 14px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #FF5F00;
}

.cardname {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.card img {
    max-width: 100%;
    height: auto;
}

.difficulty{
    display: flex;
    width: 49px;
    height: 49px;
    padding: 14px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24.5px;
    border: 1px solid #FF5F00;
}


/* NAvbar */

nav {
    display: flex;
    padding: 40px 80px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

nav div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo{
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#language {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



/* Footer */


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-light-black);
    padding: 86px 80px 44px 80px;
    gap: 65px;
    flex-shrink: 0;
}

#footer-main {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 78px;
    max-width: 1440px; 
    width: 100%; 
    margin: 0; 
}

#footer-main hr {
    height: 100%; 
    background-color: var(--color-white);
    border: none;
    width: 1px;
}

.footer-hike-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    width: 100%; 
    max-width: 520px; 
    flex-shrink: 1; 
    justify-content: center; 
    text-align: left; 
}

.footer-details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px; 
    max-width: 700px; 
    width: 100%; 
    justify-content: flex-start; 
}

.footer-detail {
    flex: 1 1 calc(50% - 20px); 
    min-width: 200px;
    max-width: 300px; 
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.footer-links-legal{
    display: flex;
    align-items: flex-start;
    gap: 62px;
}







/* Tablet */




@media (max-width: 768px) {
    
    :root {
        --font-style-header: normal 600 60px/114% 'Montserrat', sans-serif;
        --font-style-header2: normal 600 36px/114% 'Montserrat', sans-serif; 
        --font-style-header3: normal normal 20px/1.4 'Montserrat', sans-serif; 
        --font-style-body-text: normal 400 15px/120% 'Montserrat', sans-serif;
    }
    
    
    
    
    nav {
        padding: 32px 40px;
    }
    .logo {
        font-size: 28px;
    }
    #language {
        font-size: 22px;
    }

    footer {
        padding: 60px 40px;

    }

    #footer-main{
        
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
    }

    #footer-main hr {
        height: 1px;
        width: 100%;
    }


    main{
        padding-left: 40px;
        padding-right: 40px;
    }
    .textcontainer {
        padding-left: 40px;
        padding-right: 40px;
    }





}



/* Mobile */

@media (max-width: 480px) {
    
    
    :root {
        --font-style-header: normal 600 40px/114% 'Montserrat', sans-serif;
        --font-style-header2: normal 600 28px/114% 'Montserrat', sans-serif; 
        --font-style-header3: normal normal 20px/1.4 'Montserrat', sans-serif; 
        --font-style-body-text: normal 400 14px/120% 'Montserrat', sans-serif;
        
    }
    
    
    
    
    
    
    
    nav {
        padding: 24px 16px;
    }
    .logo {
        font-size: 24px;
    }
    #language {
        font-size: 20px;
    }


    footer {
        padding: 40px 20px;
    }

    .textcontainer {
        padding-left: 20px;
        padding-right: 20px;
    }
    main{
        padding-left: 20px;
        padding-right: 20px;
    }



}